header {
    background-color: #000;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1200px;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.links-list{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.links-list a {
    display: inline-block;
    padding: 16px 0px;
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.links-list a::after{
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: black;
}
    

.links-list a:hover:after{
    background: white;
    transition: 0.3s;
    width: 100%;
}
    
    
    
    
    @media(max-width:500px) {
        .nav1 {
            justify-content: center;
        }
    
        .links-list a {
            font-size: 14px;
            background: #111;
            padding: 12px 16px;
            box-sizing: border-box;
            border-radius: 4px;
            gap: 12px;
        }

        .links-list a:hover{
            background: #2e2e2e;
        }

        .links-list a::after{
            display: none;
        }
}