.intro{
    margin: 0px;
    background: black;
    box-shadow: inset 0px -120px white;
}

.intro-container{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 88px;
    align-items: center;
}

.intro-titulo{
    color: white;
    font-size: 64px;
    line-height: 72px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.intro-titulo span{
    color: #FFBB00;
    
}

.intro-textos{
    align-self: end;
    padding-bottom: 200px;
}

.intro-descricao{
    color: #b2b2b2;
    margin-top: 32px;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.intro-img{
    max-height: 1000%;
}
.intro-img img{
    max-width: 100%;
    object-fit: cover;
    border-radius: 4px;
}


.intro-btn{
    display: inline-block;
    background: linear-gradient(#FFBF00 0%, #F2A50C 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 16px 32px;
    margin-top: 20px;
    border-radius: 5px;
    color: #320;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.33;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}

.intro-btn:hover{
    background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 1000px){
    .intro-titulo{
        font-size: 48px;
    }
    .intro-descricao{
        font-size: 18px;
    }
}

@media (max-width: 750px){
    .intro-titulo{
        font-size: 32px;
        line-height: 40px;
    }
    .intro-descricao{
        font-size: 18px;
        
    }
}

@media (max-width: 650px){
    
    .intro{
        box-shadow: none;
    }

    .intro-titulo{
        text-align: center;
    }
    .intro-container{
        grid-template-columns: 1fr;
        gap: 0px;
        justify-items: center;
    }
    .intro-textos{
        padding-bottom: 40px;
    }

    .intro-img img{
        height: 400px;
        object-fit: cover;
        max-width: 100%;
    }

    .intro-btn{
        text-align: center;
        display: block;
    }
}