.conteudo-contato{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    padding: 60px 0px;
    gap:140px
}
.conteudo-contato h2{
    padding-bottom: 32px;
}
#contato li{
    padding: 10px 0px;
}
#contato li:nth-child(2), #contato li:nth-child(4){
    border-bottom: 1px solid var(--cor-5);
    padding: 10px 0px;
}
.icones{
    padding-top: 20px;
    display: flex;
    gap: 32px;
}
#info li{
    padding: 5px 0px;
}
.footer{
    padding: 32px 0px;
}
#info a:hover, #contato li:hover{
    color: var(--cor-0);
}
@media(max-width:1250px){
    .conteudo-contato{
        gap: 20px;
        padding: 20px 0px;
        justify-items: center;
    }
}
@media(max-width:900px){
    .conteudo-contato{
        grid-template-columns: 1fr;
    }
}
